<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre> >
<!-- 
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>error</title>
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
</head>
<body style="background-color:rgba(12, 124, 117, 0.86)">
    <div class="container" style="background:url('/images/error.jpg') no-repeat; height:680px;">
        <div class="" style=" font-size:35px; margin-top:450px; margin-left:700px;width:300px;">
    		<a href="/"><span style="color:rgb(0, 0, 0)">返回首页</span></a>
    	</div>
    </div>
    </body>
    -->
