<div class="upTop">
    <a style="display:none; border-radius:50%" class="top-btn" id="top-btn" title="回到顶部" href="javascript:;"><img src="/images/up_32.ico" alt="返回顶部" /></a>
</div>
    <hr>
    <br>
    <div class="footer" >
        <div class="footer-p"  style="float:left;width:40%">
            <a href="/">crab</a>
            <br>
            <p class="" style="font-size:14px;color:grey">
                &copy; 2015 crab.kevin
            </p>
        </div>
        <div class="footer-right" style="float:right; width:60%">
            <a href="/links">关于我们</a> <span style="color:rgba(5, 218, 186, 0.24)">|</span>
            <a href="/links">联系我们</a> <span style="color:rgba(5, 218, 186, 0.24)">|</span>
            <a href="/links">友情链接</a> <span style="color:rgba(5, 218, 186, 0.24)">|</span>
            <a href="/links">意见反馈</a>
            <br><br>
            <span>技术支持</span>
            <br><br>
            <a href="#"><img src="/images/github_24.ico" alt="" /> github</a> &nbsp;
            <a href="#"><img src="/images/bootstrap_24.ico" alt="" /> Bootstrap</a>&nbsp;
            <a href="#"><img src="/images/mongodb_32.ico" alt="" /> Mongodb</a>&nbsp;&nbsp;&nbsp;
            <a href="#"> Node.js</a>
        </div>
        <!-- <div class="ccfoot container" style="max-height:180px; border:1px solid green">
            <div class="row">
                <div class="col-xs-4">
                    <div class="footer-p">
                        <a href="/">crab</a>
                        <br>
                        <p class="" style="font-size:14px;color:grey">
                            &copy; 2015 crab.kevin
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="footer-p">
                        <a href="/">crab</a>
                        <br>
                        <p class="" style="font-size:14px;color:grey">
                            &copy; 2015 crab.kevin
                        </p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="footer-p">
                        <a href="/">crab</a>
                        <br>
                        <p class="" style="font-size:14px;color:grey">
                            &copy; 2015 crab.kevin
                        </p>
                    </div>
                </div>
              </div>
        </div> -->
    </div>

    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
