#preview{
    background-color: rgba(255, 255, 255, 0);
    position:fixed;
    right:120px;
    top:100px;
    overflow: visible;
}
#TOC{
    margin:10px;
    margin-top: 30px;
    padding: 10px;
}
.TOCEntry{
    font-family: sans-serif;
}
.TOCEntry a{
    text-decoration: none;
    color:rgba(0, 34, 47, 0.7);
}
.TOCEntry a:hover{
    text-decoration: none;
    color:rgba(0, 201, 255, 0.8);
}
/*.TOCLevel1{
font-size: 16pt; font-weight: bold;
}*/
.TOCLevel2{
    font-size: 1.2em;margin-left: .1in;
    /*color:rgb(132, 244, 216);*/
}
.TOCLevel3{
    font-size: 1em; margin-left: .25in;
    display: none;
}
.TOCSectNum:after{
    content: ": ";
}
.TOCSectNum{
    display: none;
}


/*html {overflow:hidden}*/
.screen {width:100%; height:100%;
    position: relative;
    margin:0; padding:0;
    margin-left: -25px;
    margin-top:-55px;
}
#screen {left:0; top:0; zoom:1;}
#screen a {position:absolute; font-size:12; overflow:hidden; padding:1px 2px; font-weight:bold;}
#screen a:hover {border: 1px solid #ccc; background:#666}

/*body { padding-top: 70px;background:rgb(230, 230, 230); }*/
/*body {background:rgb(245, 245, 245); }*/
@font-face{
    font-family: kevins;
    /*src:url('/stylesheets/fonts/Comfortaa-Bold.ttf');*/
    src:url('/stylesheets/fonts/MONACO.TTF');
}
@font-face{
    font-family: monaco;
    src:url('/stylesheets/fonts/MONACO.TTF');
}
/*.footer-ps{
style:font-size:14px; color:rgb(194, 194, 194)

}*/
body,html{
    font-family: kevins;
    height:100%;
}
.head{
    font-size: 40px;
}
.footer{
    min-height:180px;
    background-color:rgba(0, 0, 0, 0.9);
    width: 100%;
}
.footer-p{
    color:rgb(255, 255, 255);
    font-size: 45px;
    position:relative;

    bottom: -40px;
    text-align: center;

    font-family: kevins,cursive;

}
.footer-right{
    position: relative;
    bottom: -30px;
    text-align: center;
}
.panel{
    border:0px solid grey;
}
.upTop .top-btn{
    /*width: 40px;*/
    /*height:50px;*/
    position:fixed;
    bottom:150px;
    /*background: red;*/
    left:92%;
    /*margin-right: 100px;*/
}
.upTop .top-btn:hover{
    background: rgb(227, 221, 221);
}
.login_ico input{
    float:left;border:none;background:none;height:40px;line-height:30px;width:100%;
    text-indent:32px;}
.note{
    color: green;
}
.alert{
    padding: 1px;
}
.img-circle{
    max-width:45px;
    max-height: 45px;
}
.dropdown-menu{
    font-size: 15px;
    border-radius: 10px;
}
.article-div img{
    display:block;
    max-width:100%;
}
.article-div .article-func-img{
    display:none;
}
.footer-p a:link, .test a:link {
    color: rgb(3, 3, 3); text-decoration: none
}
.footer-p , .test a:visited {
    color: rgb(45, 45, 45); text-decoration: none
}
.footer-p a:hover, .test a:hover {
    color: rgb(31, 208, 219); text-decoration: none
}

.head:visited{
    color: rgb(9, 219, 232); text-decoration: none
}
.container:not(.footer){
    min-height:500px;
}
.comments{
    font-size:14px;
    line-height:24px;
    margin:10px 0;
    padding:20px;
    background:#F2F2F2;
    box-shadow:0 0 5px #aaa;
}
.text3{
    margin-top:10px;
    background:white;
    color:#333;
    border:2px solid #fff;
    box-shadow:inset 0 0 8px #aaa;
    padding:10px;
    height:120px;
    font-size:14px;
}
.share_ico1,.share_ico2{
    float:right;
    border-radius:15px;
}
.share1:hover{
    background-color: rgb(19, 248, 255);
}
.share1:link{
    background-color :rgba(12, 144, 218, 0.28); text-decoration: none;
}

